#uploads{
    overflow-x: auto;
    white-space: nowrap; 
}
#uploads ul li{
    cursor: pointer;
    display: inline-block;
}

#fundologin{
    background-image:url("../img/background-degrade.jpg"); 
    background-repeat:no-repeat; 
    background-position:center; 
    background-size:cover; 
    padding:10px;
}

/*#tabela{
    width: 100%;
}*/

.embed-container { 
 position: relative; 
 padding-bottom: 56.25%; 
 overflow: hidden;  
 height: auto;
} 
.embed-container iframe, .embed-container object, .embed-container embed {
 position: absolute; 
 top: 0; 
 left: 0; 
 width: 100%; 
 height: 100%; 
}

@media only screen and (max-width: 5000px) {
.embed-container, .galery-container, .wrap{
 width: 80%; 
 margin: 0 auto;
}
.imgslide {
 max-width: 100%;
 max-height: 500px;
}
.wrap {
    height: 100vh;
    max-height: 500px;
}
}
@media only screen and (max-width: 800px) {
.embed-container, .galery-container{
 width: 100%; 
}
.imgslide {
    max-width: 100%;
  max-height: 250px;
}
.wrap, .galery-container {
    width: 100%;
    height: 250px;
}
}

.wrap {
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


.galery-container { 
 position: relative;  
 overflow: hidden;  
 height: 100%;
 padding: 2px;
} 

/* Hide the images by default */
.mySlides {
  position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.1);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

#modal-upload-imagem #modal-upload-imagem-recortar {position:relative;}
#modal-upload-imagem #modal-upload-imagem-img {position:absolute;visibility:hidden;opacity:0;}
#modal-upload-imagem #modal-upload-imagem-miniatura {position:relative;max-width:100%;height:auto;}