#uploads{
    margin-bottom: 10px;
    width:100%;
    overflow-x: auto;
    white-space: nowrap; 
}
#uploads ul li{
    cursor: pointer;
    display: inline-block;
}

#fundologin{
    background-image:url("../img/background-degrade.jpg"); 
    background-repeat:no-repeat; 
    background-position:center; 
    background-size:cover; 
    padding:10px;
}


